
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$background-color = red;

body {
	padding: 4;
	margin: 4;
}

header {
	backgrond-color: $background-color;
}